---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Legal - Lefferts Investments" description='Legal information including our Cookie Policy and Privacy Policy'>
  <main class="page-main" style="padding-top: 85px;">
    <div class="textarea">
      <h1 style="text-align: center; margin-top: 3rem; margin-bottom: 3rem;">Lefferts Investments, LLC</h1>
      
      <h2 class="legal-title">Cookie Policy</h2>
      <h3>Introduction to Cookies</h3>
      <p>This Cookie Policy ("Cookie Policy") provides detailed information about why, how, and when we use Cookies on our Platform and/or Services, as defined in our <span class="mark">Terms of Service</span> and <span class="mark">Privacy Policy</span>. Any capitalized terms used in this Cookie Policy but not defined herein, have the meanings set forth in in our Terms of Service. By accessing our Platform, you agree to our use of Cookies, as further set forth herein. If you are accessing our Platform via any other third-party application or site, you expressly agree to be bound by the notices, terms, and conditions posted thereon.</p>
      
      <h3>What is a Cookie?</h3>
      <p>A Cookie is a small text file that is placed on your hard drive by a web page server. Cookies contain information that can later be read by a web server in the domain that issued the Cookie to you. Some of the Cookies will only be used if you use certain features or select certain preferences, and some Cookies are essential to the Platform and will always be used. Web beacons, tags, and scripts may be used in the Platform or in emails to help us deliver Cookies and count visits, understand usage and campaign effectiveness, and determine whether an email has been opened and acted upon. We may receive reports based on the use of these technologies by our service/analytics providers (for example, Google Analytics) on an individual and aggregated basis.</p>
      
      <h3>Why does Company use Cookies?</h3>
      <p>Company and our marketing partners, affiliates, and analytics or service providers use Cookies and other technologies to ensure everyone who uses the Platform has the best possible experience. For example, when you use our Platform, we may place a number of Cookies in your browser. We use these Cookies to enable us to hold session information as you navigate from page to page within the Platform, improve your experience, and track and analyze usage and other statistical information. If you elect not to activate the Cookie or to later disable Cookies, you may still visit our Platform, but your ability to use some features or areas of those offerings may be limited.</p>
      
      <h3>How to Disable Cookies</h3>
      <p>You can generally activate or later deactivate the use of Cookies through a functionality built into your web browser. To learn more about how to control Cookie settings through your browser:</p>
      <ul>
        <li>Click <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">here</a> to learn more about managing Cookie settings in Mozilla Firefox;</li>
        <li>Click <a href="https://support.google.com/chrome/answer/95647">here</a> to learn more about managing Cookie settings in Google Chrome;</li>
        <li>Click <a href="http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies">here</a> to learn more about managing Cookie settings in Microsoft Internet Explorer;</li>
        <li>Click <a href="https://support.apple.com/en-lb/guide/safari/sfri11471/16.0/mac/11.0">here</a> to learn more about managing Cookie settings in Safari;</li>
        <li>Click <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">here</a> to learn more about managing Cookie settings in Microsoft Edge.</li>
      </ul>
      <p>If you want to learn more about Cookies or how to control, disable, or delete them, please visit <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a> for detailed guidance. In addition, certain third-party advertising networks, including Google, permit users to opt out of or customize preferences associated with your Internet browsing. To learn more about this feature from Google, click <a href="https://adssettings.google.com/">here</a>.</p>
      
      <h3>Types of Cookies that Company Uses</h3>
      <p>Many jurisdictions require or recommend that website operators inform users/visitors as to the nature of Cookies they utilize and, in certain circumstances, obtain the consent of their users to the placement of certain Cookies. Each Cookie used by Company falls within one of the following categories:</p>
      
      <h4>Essential Cookies:</h4>
      <p>Essential Cookies (First-Party Cookies) are sometimes called "strictly necessary," as without them we cannot provide many services that you need. For example, essential Cookies help remember your preferences as you use our Platform and/or Services.</p>
      
      <h4>Analytics Cookies:</h4>
      <p>These Cookies track information about your visits and usage of the Platform and/or Services so that we can make improvements and report our performance — for example, to analyze visitor and user behavior so as to provide more relevant content or suggest certain activities. We might also use analytics Cookies to test new ads, pages, or features to see how users react to them. Google Analytics is the main technology we currently use in this regard. To learn more about Google Analytics and your privacy, visit the "How Google uses data when you use our partners' sites or apps" page at <a href="http://www.google.com/policies/privacy/partners/">www.google.com/policies/privacy/partners/</a>. To opt out of being tracked by Google Analytics when using our website, visit <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>.</p>
      
      <h4>Functionality or Preference Cookies:</h4>
      <p>During your visit to the Platform, Cookies are used to remember information you have entered or choices you make (such as your username, language, or your region). They also store your preferences when personalizing the Platform to optimize your use of Company (for example, your preferred language). These preferences are remembered through the use of persistent Cookies, and the next time you visit the Platform or use our Services, you will not have to set them again.</p>
      
      <h4>Targeting or Advertising Cookies</h4>
      <p>These Third-Party Cookies are placed by third-party advertising platforms or networks in order to deliver ads and track ad performance or enable advertising networks to deliver ads that may be relevant to you based upon your activities (this is sometimes called "behavioral tracking" or "targeted" advertising) on the Platform. They may subsequently use information about your visit to target you with advertising that you may be interested in on the Platform and other websites. You can opt out of interest-based targeting provided by participating ad servers through the Digital Advertising Alliance (<a href="http://youradchoices.com">http://youradchoices.com</a>).</p>
      
      <h4>Social Media Cookies:</h4>
      <p>The Platform may incorporate certain third-party social media features, such as the Facebook Like button, and third-party widgets, such as the 'Share This' button or interactive mini-programs that run on the Platform. These features may collect your IP address and which page you are visiting on the Platform, as well as set a Cookie to enable the feature to function properly. Your interaction with these features is governed by the privacy policy of the third-party company providing it. Here are some examples of third-party social media features that we use, and their privacy policies:</p>
      <ul>
        <li><a href="https://www.facebook.com/about/privacy">Facebook Privacy Policy</a></li>
        <li><a href="https://help.instagram.com/155833707900388">Instagram Privacy Policy</a></li>
        <li><a href="https://www.youtube.com/howyoutubeworks/our-commitments/protecting-user-data/">YouTube Privacy Policy</a></li>
        <li><a href="https://usds.tiktok.com/?gclid=Cj0KCQiAzoeuBhDqARIsAMdH14Eja3EtkDeittFPACDRXpGx8OJOEAFb3KqSL3xLx980qO2T0VNxIi8aAiRTEALw_wcB">Tik Tok Privacy Policy</a></li>
        <li><a href="https://twitter.com/privacy">X (formerly Twitter) Privacy Policy</a></li>
      </ul>
      
      <h3>Cookies Subject to Change</h3>
      <p>The content of this Cookie Policy is for your general information and use only. You acknowledge that this information may contain inaccuracies or errors and is subject to change, and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>
      
      <h3>Updating this Cookie Policy</h3>
      <p>If there are any material changes to this Cookie Policy, you will be notified by the posting of a prominent notice on our Platform prior to the change becoming effective. We encourage you to periodically review this page for the latest information. Your continued use of the Platform and/or Services constitutes your agreement to be bound by such changes to this Cookie Policy. Your only remedy, if you do not accept the terms of this Cookie Policy, is to discontinue use of and access to the Platform and/or Services.</p>
      
      <h3>Contact Us</h3>
      <p>If you have any questions regarding this Cookie Policy or how Company uses Cookies, you may contact us by emailing us at info@lefferts.com or by writing us as:</p>
      <p><span class="mark">Lefferts Investments, LLC</span><br>
      1826 Collins Avenue<br>
      Miami Beach, FL 33139</p>
      <p><strong>Last Updated:</strong> March 26, 2024</p>
      
      <div class="spacing"></div>
      
      <h2 class="legal-title">Privacy Policy</h2>
      <p><strong>BY USING OR ACCESSING OUR PLATFORM, YOU ARE ACCEPTING THE PRACTICES DESCRIBED IN THIS PRIVACY POLICY.</strong></p>
      
      <h2>General</h2>
      <p>M Hotel Management, LLC, a Florida limited liability company ("<span class="underline">Company</span>" or "<span class="underline">we</span>" or "<span class="underline">us</span>" or "<span class="underline">our</span>") respects the privacy of its users ("<span class="underline">User(s)</span>" or "<span class="underline">you</span>") that use our website www.Lefferts.com, any site or sub-site hosted thereon, and any mobile applicable or other software provided by us (collectively, the "<span class="underline">Platform</span>" or "<span class="underline">Service</span>").</p>
      
      <p>The following privacy policy ("<span class="underline">Privacy Policy</span>") is designed to inform you, as a User of the Platform, about the types of information that the Company may gather about or collect from you in connection with your use thereof. It also is intended to explain the conditions under which Company uses and discloses that information, and your rights in relation to that information. Changes to this Privacy Policy are discussed at the end of this document. Each time you use the Platform, however, the current version of this Privacy Policy will apply. Accordingly, each time you use the Platform you should check the date of this Privacy Policy (which appears at the end of this document) and review any changes since your last visit.</p>
      
      <p>This Privacy Policy is expressly incorporated into our <span class="mark">Terms of Service</span>, which can be accessed by clicking the links contained herein. Any defined or capitalized terms not otherwise defined herein shall have the meaning ascribed to them in our <span class="mark">Terms of Service</span>.</p>
      
      <p>Please note that this Privacy Policy does not apply to the practices of third parties who you may choose to share information with when you use the Platform. Please note that the collection and use of your information by these third parties is subject to their own privacy policies and terms. You should understand the privacy and security practices of any third party before you share information with them.</p>
      
      <p>The Platform is hosted in the United States of America and is subject to U.S. state and federal law. If you are accessing our Platform from other jurisdictions, please be advised that you are transferring your personal information to us in the United States, and by using our Platform, you consent to that transfer and use of your personal information in accordance with this Privacy Policy. You also agree to abide by the applicable laws of applicable states and U.S. federal law concerning your use of the Platform and your agreements with us. Any persons accessing our Platform from any jurisdiction with laws or regulations governing the use of the Internet, including personal data collection, use and disclosure, different from those of the jurisdictions mentioned above may only use the Platform in a manner lawful in their jurisdiction. If your use of the Platform would be unlawful in your jurisdiction, please do not use the Platform.</p>
      
      <p>From time to time, we may want to contact you with information about announcements, Platform updates, promotions, and special offers. We also may want to contact you with information about products and services from our business partners. You may opt out of such communications at any time by clicking the "unsubscribe" link found within the Company's emails and changing your contact preferences.</p>
      
      <p>For EEA Users: We only send marketing communications to Users located in the EEA with your prior consent. Please see the section "For EEA Users" below.</p>
      
      <h2>Gathering, Use and Disclosure of Non-Personally-Identifying Information</h2>
      <h3>Users of the Platform Generally</h3>
      <p>"Non-Personally-Identifying Information" is information that, without the aid of additional information, cannot be directly associated with a specific person. "Personally-Identifying Information," by contrast, is information such as a name or email address that, without more, can be directly associated with a specific person. Like most website operators, the Company gathers from Users Non-Personally-Identifying Information of the sort that web browsers and mobile device applications, depending on their settings, may make available. That information includes a User's Internet Protocol (IP) address, operating system, browser type and the locations of websites or apps the User views right before arriving at, while navigating and immediately after leaving the Platform, as more fully described herein. Although such information is not Personally-Identifying Information, it may be possible for Company to determine from an IP address a User's internet service provider and the geographic location of the visitor's point of connectivity as well as other statistical usage data. Company may analyze Non-Personally-Identifying Information gathered from Users to help the Company better understand how the Platform is being used. By identifying patterns and trends in usage, Company is able to better design the Platform to improve Users' experiences, both in terms of content and ease of use. From time to time, Company may also release the Non-Personally-Identifying Information gathered from Users in the aggregate, such as by publishing a report on trends in the usage of the Platform.</p>
      
      <h3>Automatically Collected Information</h3>
      <p>Certain data about the devices you use to connect with our Platform and your use thereof are automatically logged in our systems, including:</p>
      
      <p><em>Mobile Device Information.</em> If you use a mobile device to access the Platform, we may collect device information (such as your mobile device ID, model, and manufacturer), operating system, version information and IP address.</p>
      
      <p><em>Log data.</em> As with most websites and technology services delivered over the internet, our servers automatically collect data when you access or use our Platform and record it in log files. This log data may include the IP address, browser type and settings, the date and time of use, information about browser configuration, language preferences, and cookie data.</p>
      
      <p><em>Usage information.</em> This is information about the Platform and how you use it. We may also obtain data from our third-party partners and service providers to analyze how Users use our Platform. For example, we will know how many Users access a specific page on the Platform and which links they clicked on. We use this aggregated information to better understand and optimize the Platform.</p>
      
      <p><em>Device information.</em> This is data from your computer or mobile device, such as the type of hardware and software you are using (for example, your operating system and browser type), as well as unique device identifiers for devices that are using our software.</p>
      
      <p><em>Web Cookies.</em> Data obtained from cookies are described below and in our <span class="mark">Cookie Policy</span>.</p>
      
      <h3>Web Cookies</h3>
      <p>Web Cookies are small text files stored on your device and used by web browsers to deliver personalized content and remember logins and account settings. The Company uses Web Cookies and similar technologies, including tracking pixels and web beacons, to collect usage and analytic data that helps us provide our Platform to you, as well as to help deliver ads for relevant products and services to you when you visit certain pages on the Platform and then visit certain third-party sites. For more information on cookies and how the Company uses them, please see our <span class="mark">Cookie Policy.</span></p>
      
      <p>PLATFORM USERS WHO DO NOT WISH TO HAVE WEB COOKIES PLACED ON THEIR COMPUTERS SHOULD SET THEIR BROWSERS TO REFUSE WEB COOKIES BEFORE ACCESSING THE PLATFORM, WITH THE UNDERSTANDING THAT CERTAIN FEATURES OF THE PLATFORM MAY NOT FUNCTION PROPERLY WITHOUT THE AID OF WEB COOKIES. PLATFORM USERS WHO REFUSE WEB COOKIES ASSUME ALL RESPONSIBILITY FOR ANY RESULTING LOSS OF FUNCTIONALITY.</p>
      <p><strong>Last Updated</strong>: March 26, 2024</p>
      
    </div>
  </main>
</Layout>