---
import Layout from '../layouts/Layout.astro';
import ArticleGrid from '../components/ArticleGrid.astro';
import press from '../data/press.json';
---

<Layout
  title="Press | Lefferts"
  description="Access Lefferts' latest news, press releases, and media resources. Find information on our innovative real estate developments in NYC and Miami."
>
  <ArticleGrid articles={press} />
  <div class="inquiries">
    <p>Press Inquiries</p>
    <a href="mailto:press@lefferts.com">press@lefferts.com</a>
  </div>
</Layout>
